body {
    font-family: Arial, sans-serif;
  }
  
  .seccion {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .botones {
    margin-top: 20px;
  }
  
  .botones button {
    margin-right: 10px;
  }
  